@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  display: contents;
}
